<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control"
              formControlName="name"
             placeholder="Nombre de la persona">
      <span
        class="form-text text-danger"
        *ngIf="isValidField('name')"
      >
        error message
      </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">

      <div class="input-group">
        <input class="form-control"
               placeholder="Agregar favorito">
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="addFavoriteGame()"
        >
          Agregar favorito
        </button>
      </div>
    </div>
  </div>


  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoriteGames">

      <div class="mb-1" *ngFor="let favorite of favoriteGames.controls; let i = index">
        <div class="input-group">
          <input
            class="form-control"
            [formControlName]="i"
          >
          <button
            class="btn btn-outline-danger"
            type="button"
            (click)="removeFavoriteGame(i)"
          >
            Eliminar
          </button>
        </div>
        <span
          class="form-text text-danger"
          *ngIf="isValidFieldInArray('favoriteGames', i)"
        >
          Este campo es requerido
        </span>

      </div>

    </div>
  </div>

  <!-- email -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">email</label>
    <div class="col-sm-9">
      <input class="form-control"
             formControlName="email"
             placeholder="Nombre de la persona">
      <span
        class="form-text text-danger"
        *ngIf="isValidField('email')"
      >
                   error message
            </span>
    </div>
  </div>

  <!-- phone -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">phone</label>
    <div class="col-sm-9">
      <input class="form-control"
             formControlName="phone"
             placeholder="Nombre de la persona">
      <span
        class="form-text text-danger"
        *ngIf="isValidField('phone')"
      >
        {{this.getFieldError('phone')}}
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit"
              class="btn btn-primary float-end"
      >
        <!-- [disabled]="myForm.invalid" -->
        Guardar
      </button>
    </div>
  </div>


</form>



<span>Valid</span>
<pre>{{ 'name' | json }}</pre>
<br>

<span>Value</span>
<pre>{{ 'email' | json }}</pre>
<br>

<span>Agregar Juego</span>
<pre>{{ 'favoriteGames' | json }}</pre>
<pre>{{ 'object' | json }}</pre>
